{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="flash-message">
        {% for message in app.session.flashBag.get('sendmail')%}
            {{ message }}
        {% endfor %}
            {{ app.session.flashBag.has('unauthorized') ? app.session.flashBag.get('unauthorized')[0] }}
    </div>

    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-xs-12 text-center text-uppercase">
            <a class="btn btn-default order-button" href="{{ path('order') }}" role="button">
                <strong>Réserver mes billets</strong>
            </a>
        </div>
    </div>
    <!-- Block informations -->
    <div class="row background-info">
        <div class="col-xs-12">
            <h1 class="title-info text-center text-uppercase">Informations</h1>
            <hr class="line"/>
        </div>
        <div class="col-xs-12 col-md-5 col-md-offset-1">
            <div class="col-xs-1">
                <i class="glyphicon glyphicon-time"></i>
            </div>
            <div class="col-xs-11">
                <p>
                    Ouvert tous les jours de 9h à 18h sauf le mardi.<br/>
                    Nocturnes jusqu'à 21h45 le mercredi et le vendredi.<br/>
                    Le musée ferme ses portes le 1er mai, 1er novembre et 25 décembre.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-md-5">
            <div class="col-xs-1">
                <i class="glyphicon glyphicon-euro"></i>
            </div>
            <div class="col-xs-11">
                <p>
                    Tarif "normal" à partir de 12ans: <strong>16€</strong>
                    Tarif "enfant" de 4ans à 12ans: <strong>8€</strong>
                    Tarif "sénior" à partir de 60ans: <strong>12€</strong>
                    Tarif "réduit" accordé dans certaines conditions (étudiant, employé du musée, d'un service du Ministère
                    de la Culture, mulitaire...): <strong>10€</strong>
                </p>
            </div>
        </div>
    </div>
    <!-- Block coordonnées de contact et formulaire de contact -->
    <div class="row">
        <div class="col-xs-12 col-md-4 background-contact">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="title-info text-center text-uppercase">Coordonnées de contact</h1>
                    <hr class="line"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-1">
                        <i class="glyphicon glyphicon-phone"></i>
                    </div>
                    <div class="col-xs-11">
                        <p>
                            01 40 20 50 50
                        </p>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-1">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </div>
                    <div class="col-xs-11">
                        <p>
                            <a href="mailto:musee@aurelien-morvan.fr">musee@aurelien-morvan.fr</a>
                        </p>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-1">
                        <i class="glyphicon glyphicon-home"></i>
                    </div>
                    <div class="col-xs-11">
                        <p>
                            Musée du Louvre<br/>
                            75058 Paris CEDEX 01<br/>
                            France
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-offset-1 col-md-7 background-form-contact">
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.subject) }}
                    {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.message) }}
                    {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                </div>

                <button type="submit" id="submitForm" class="btn btn-default">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}