{% extends 'base.html.twig' %}
{% block title %}Ticket{% endblock %}

{% block body %}
        {% if app.session.flashBag.has('success')%}
            {{ app.session.flashBag.get('success')[0] }}
        {% endif %}

{% set numberTicket = form.tickets.count %}

{{ form_start(form) }}
{{ form_widget(form.email, {'attr': {'hidden':'hidden'}}) }}
{{ form_widget(form.dateVisit, {'attr': {'hidden':'hidden'}}) }}
{{ form_widget(form.typeTicket, {'attr': {'hidden':'hidden'}}) }}
{{ form_widget(form.numberTickets, {'attr': {'hidden':'hidden'}}) }}
    {% for ticket in form.tickets %}
        <div>
        {{ form_label(ticket.firstname) }}
        {{ form_widget(ticket.firstname) }}
        {{ form_label(ticket.lastname) }}
        {{ form_widget(ticket.lastname) }}
        {{ form_label(ticket.birthDate) }}
        {{ form_widget(ticket.birthDate) }}
        {{ form_label(ticket.nationality) }}
        {{ form_widget(ticket.nationality) }}
        {{ form_label(ticket.reduction) }}
        {{ form_widget(ticket.reduction) }}
        </div>
    {% endfor %}
<button type="submit" name="Valid">Récapitulatif</button>
{{ form_end(form) }}

{% endblock %}