<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>

<body>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-xs-10">
                Bonjour {{ sender }},
            </div>
            <div class="col-xs-2">
                <img src="{{ image }}" alt="Image"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    Nous avons bien reçu votre demande concernant {{ subject }}.
                </p>
                <p>
                    Nous vous répondrons dans les plus brefs délais.
                </p>
                <p>
                    Cordialement,<br/>
                    L’équipe du Musée du Louvre
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
