<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <h1>Demande :</h1>
    <p>
        <u>Date :</u>{{ date|date('d-m-Y')}}<br/>
        <u>Nom :</u>{{ senderName }}<br/>
        <u>Mail :</u>{{ senderAddress }}<br/>
        <u>Sujet :</u>{{ subject }}<br/>
        <u>Message: </u>{{ message }}
    </p>
</body>
</html>