<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>

<body>
<div class="container">
    <div class="mail">
        <h1 class="title-mail">Demande utilisateur :</h1>
        <p>
            <u>Date :</u> {{ date|date('d-m-Y') }}<br/>
            <u>Nom :</u> {{ senderName }}<br/>
            <u>Mail :</u> {{ senderAddress }}<br/>
            <u>Sujet :</u> {{ subject }}<br/>
            <u>Message :</u> {{ message }}
        </p>
    </div>
</div>
</body>
</html>


